body {
    color:whitesmoke;
    background: darkblue;
    font-family: cursive;
    font-size: 15;
}
main .infofont li {
    font-size: 15pt;
}
main h1 {
    border: 5px solid green;
   
   
  @media screen and (max-width: 30rem) 
}

.flexboxmasterswitch {
    display: flex;
    flex-direction: column;
}